.productPanelContainer {
    background-color: #ec709a;
    color: white;
    width: 100%;
    margin-top: 10%;
}

.productPanelHeader {
    font-size: 3rem;
    padding: 5px;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

.productPanelList {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 2%;
}

.productPanelProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25%;
}

.productPanelProductImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productPanelProductImg {
    width: 85%;
    transition-duration: 0.5s;
    cursor: pointer;
    padding-bottom: 6%;
    border-bottom: 2px white solid;
}

.productPanelProductImg:hover {
    width: 88%;
}

.productPanelProductName {
    margin-left: 10%;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.productPanelProductPrice {
    margin-left: 10%;
    font-size: 1.5rem;
}

.productPanelBottomBorder {
    background-color: white;
    height: 0.5px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 2%;
}